body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    cursor: none;
}
.content p{
    width: 700px;
    line-height: 26px;
    font-size: 18px;
    text-align: justify;
}
.cursor{
    display: flex;
    position: fixed;
    z-index: 3;
    background-color: black;
    width: 100px;
    height: 50px;
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    left:0;
    top: 0;
    transition: .1s;
}
.cursor2{
    display: flex;
    position: fixed;
    background-color: gray;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    left: 0;
    top: 0;
    transition: .2s;
}
.cursor img, .cursor2 img{
    display: block;
    width: 20px;
    margin: auto;
}
/* .content:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: #c6c6c6;
    opacity: .5;
}
.content:hover ~ .cursor2{
    opacity: 0;
} */